@media screen and (max-width: 768px) {
header {
		background-position: 100% 100%;
		background-size: 100% 100%;
		width: 100%;
		height: 100px;
}  
	
.logo_nav img {
	float: center;
	clear: center;
	margin-left: 50px;
	width: 250px;
	height: 65px;
 }
 nav ul {
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 9999;
	width: 100%;
	padding: 10px 0px;
	margin-bottom: 0;
	background: rgb(24, 24, 23);
	transform: translateY(100%);
	transition: all 0.3s ease;
	
}
  nav ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
  }
  nav ul li:not(:first-child) {
    margin-left: 0;
  }
  nav ul li a {
	padding: 5px 20px;
	color: #C0C0C0;
	font-weight: 0;
	font-size: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-bottom-style: hidden;
}
nav ul li a:hover {
	border-bottom-style:hidden;
}

.nav-close {
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	width: 56px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	font-size: 24px;
	color: rgb(255, 255, 255);
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nav-open {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: block;
	width: 56px;
	height: 56px;
	border-radius: 100px;
	background: rgb(83, 82, 82);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	cursor: pointer;
}
  .nav-open:after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #dbdada;
    margin: 20px 0 0 18px;
    box-shadow: 0px 6px 0px #dbdada, 0px 12px 0px #dbdada;
  }
  input[type="checkbox"]:checked ~ ul {
    transform: translateY(0);
  }	

  .front-page {
	background-image: url('img/ttm_1230m.worshipplaylist-blank.jpg');
	width: 100%;
	height: 500px;
	background-position: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 1;
}	
.front-page-container {
	z-index: 1;
	margin: auto;
	width: 80%;
	height: 100%;
	padding: 10px;
	padding-top: 150px;
}
.front-page-container h1 {
	font-family: "quicksand", open-sans, Arial, Helvetica, sans-serif;
	color: #F0FFFF;
	font-size: 40px;
	font-weight: 0;
	text-align: center;
	text-shadow: 2px 2px #222121;
}
.front-page-container h2 {
	font-family: "quicksand", open-sans, Arial, Helvetica, sans-serif;
	color: #F0FFFF;
	font-size: 20px;
	font-weight: 0;
	text-align: center;
	text-shadow: 2px 2px #222121;
	padding: 15px;
}
.front-page-container h3 {
	font-family: "quicksand", open-sans, Arial, Helvetica, sans-serif;
	color: rgb(139, 208, 240);
	font-size: 35px;
	font-weight: 0;
	text-shadow: 2px 2px #222121;
	padding: 15px;
	text-align: center;
}
.front-page-container h3:hover{
	border-bottom-style: solid;
	border-bottom-width: medium;
	border-bottom-color: #FFFFFF;
}

.container {
	width: 100%;
	height: auto;
	z-index: 1;
	margin-top: 0px;
	display:block;
}
.horario {
	width: 100%;
	height: 450px;
	background-color: #1f1e1e;

}
.horario h1 {
	font-family:  Arial, Helvetica, sans-serif;
	color: #148585;
	font-size: 40px;
	font-size-adjust: inherit;
	font-weight: 0;
	padding: 15px;
	text-align: center;
}
.horario h2 {
	font-family:  Arial, Helvetica, sans-serif;
	color: #cfebeb;
	font-size: 25px;
	font-size-adjust: inherit;
	font-weight: 0;
	padding: 15px;
	text-align: center;
}
.horario-map {
	width: 100% !important;
    height: 300px;
}
.horario-map iframe {
	width: 100% !important;
    height: 100%;
	background-color: grey;
}
.widget-slider{
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 80px;
	position: relative;
	width: 100%;
	height: 6 00px;
	margin-top: 60px;
}
.widget-events{
	position: relative;
	width: 100%;
	height: auto;
	
}

.containers {
	position: relative;
	width: 100%;
	height: 45em;
	border-top-style: solid;
	border-top-width: 32px;
	border-top-color: #CDCDB4;
	border-bottom-style: solid;
	border-bottom-width: 32px;
	border-bottom-color: #CDCDB4;
}
.temp-container {
	background-position: 100% 100%;
	background-size: 100% 100%;
	top: 40px;
	bottom: 10px;
	position: relative;
	width: 100%;
	height: 450px;
	background-image: url('img/underconstruction.png');
}
/* Offering Container*/

.offering-container {
	width: 100%;
	height: auto;
}
.offering {
	width: 100%;
	height: auto;
	background-image: url('img/pexels-luis-quintero-2774551.jpg');
	background-position: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
   }
.offering h1 {
	   width: 20%;
	   font-family: "quicksand", open-sans, Arial, Helvetica, sans-serif;
	   color: #F0FFFF;
	   font-size: 35px;
	   font-weight: bold;
	   text-align:inherit;
	   text-shadow: 2px 2px #181818;
	   padding-top: 200px;
	   padding-bottom: 50px;	
}
.offering-info {
	width: 100%;
	height: auto;
	
}
.offering-info-content {
	width: 70%;
	height: auto;
	margin: 0 auto;
	padding-top: 25px ;

}
.offering-info-content h1{
	font-family: "Summer", open-sans, Arial, Helvetica, sans-serif;
	color: #2a2b2b;
	font-size: 50px;
	text-align: left;
	padding-right: 0px;
	font-weight: lighter;
}
.offering-info-content p{
	font-family: "quicksand", open-sans, Arial, Helvetica, sans-serif;
	color: #444646;
	font-size: 18px;
	text-align: center;
	text-indent: 40px;
	line-height: 25px;
}
.Zelle-info{
	width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	display: inline-block;
	
}
.Zelle-info h1{
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: #4a175e;
	font-size: 25px;
	font-weight:bold;
	text-align: center;
}
.Zelle-info h2{
	font-family: "quicksand", open-sans, Arial, Helvetica, sans-serif;
	color: #2c2c2c;
	font-size: 20px;
	font-weight:normal;
	text-align: center;
	line-height: 30px;
}
.tithly-info{
	width: 100%;
	height: auto;
	padding-top: 30px;	
	display: inline-block;
}
.tithly-info h1{
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: #17485e;
	font-size: 25px;
	font-weight:bold;
	text-align: center;
}
.tithly-info h2{
	font-family: "quicksand", open-sans, Arial, Helvetica, sans-serif;
	color: #2c2c2c;
	font-size: 20px;
	font-weight:normal;
	text-align: center;
	padding-top: 0;
	line-height: 25px;
}
.tithely-give{
	width: 100%;
	height: auto;
	padding-top: 30px;	
}
.tithely-give-button {
	background-color: #04AA6D; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin-left: 30%;
}
.tithely-give-button:hover {
	background-color: #323333; /* Grey */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin-left: 30%;
}
/* About us*/
.aboutus-container {
	width: 100%;
	height: auto;
	padding-top: 77px ;
}
.aboutus {
	width: 90%;
	height: auto;
	margin: 0 auto;
	padding-top: 32px ;

}
.aboutus h2{
	font-family: open-sans, Arial, Helvetica, sans-serif;
	color: #336363;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}
.aboutus p{
	font-family: "quicksand", open-sans, Arial, Helvetica, sans-serif;
	color: #444646;
	font-size: 17px;
	text-align: center;
	text-indent: 55px;
	line-height: 40px;
	padding-top: 20px;
}
.aboutus h3{
	font-family: open-sans, Arial, Helvetica, sans-serif;
	color: #2a2b2b;
	font-size: 35px;
	text-align: center;
	padding-right: 70px;
	font-weight: lighter;
	padding-top: 25px;
}



footer {
	position: relative;
	z-index: 10;
	width: 100%;
	height: 60em;
	background-color: #101010;
	padding-top: 45px;
}
.footer-container {
	width: 80%;
	position: relative;
	z-index: 10;
	height: 100%;
	margin: 0px auto 0px auto;
}
.footer-menu {
	margin: 0px Auto 0px Auto;
	position: relative;
	z-index: inherit;
	width: 100%;
	height: 250px;
	float: none;
}
.footer-menu h2 {
	position: relative;
	z-index: inherit;
	width: 100%;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 27px;
	font-weight: normal;
	color: #959595;
	padding-bottom: 20px;
}
.footer-menu p a {
	position: relative;
	width: 100%;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 19px;
	font-weight: normal;
	color: #ECECE1;
	text-decoration: none;
	float: none;
	line-height: 32px;
	padding-right: 23px;
	padding-left: 23px;
}
.footer-menu p a:hover {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 19px;
	font-weight: normal;
	color: #8A2BE2;
	text-decoration: none;
}
.dailyverse {
	position: relative;
	z-index: inherit;
	width: 100%;
	color: #ECECE1;
	font-size: 16px;
	font-weight: normal;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-decoration: none;
	float: none;
	height: 300px;
}
.dailyverse h2 {
	position: relative;
	z-index: inherit;
	width: 100%;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 27px;
	font-weight: normal;
	color: #959595;
	padding-bottom: 20px;
}
.dailyverse a {
	color: #ECECE1;
	font-size: 16px;
	font-weight: normal;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-decoration: none;
}
.dailyverse a {
	color: #ECECE1;
	font-size: 16px;
	font-weight: bold;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-decoration: none;
}
.directions {
	position: relative;
	z-index: inherit;
	width: 100%;
	height: 300px;
	float: left;
}
.directions h2 {
	position: relative;
	z-index: inherit;
	width: 100%;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 27px;
	font-weight: normal;
	color: #959595;
	padding-bottom: 20px;
}
.directions p {
	position: relative;
	width: 100%;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #ECECE1;
	text-decoration: none;
	float: none;
	line-height: 32px;
	padding-right: 23px;
	padding-left: 23px;
}
}
